*{margin: 0;padding: 0;
	-moz-box-sizing: border-box;/*火狐浏览器*/
	-webkit-box-sizing: border-box;/*webkit内核浏览器*/
	box-sizing: border-box;
 }
 a,a:hover,a:active{
	 text-decoration: none;
	 color: #333333;
 }
 li{list-style: none;}
		